<tr>
    <th scope="row" class='text-center'>{{mealID}}</th>
    <td class="text-left">{{mealName}}</td>
    <td class="text-right">{{mealPrice}}.00</td>
    <td>
        <a href="/u/ChzIT/{{mealID}}" class="btn btn-primary">Place Order</a>
    </td>
</tr>