<tr>
    <th scope="row" class='text-center'>{{this.checkID}}</th>
    <td class="text-left">{{this.mealID}}</td>
    <td class="text-right">{{this.qty}}</td>
    <td class="text-right">{{this.total}}.00</td>
</tr>