<div class="login">
    <div class="login-form">
        <form>
            <input type="number" id="id" name="userID" placeholder="user ID">
            <br>
            <input type="password" id="pword" name="password" placeholder="password">
            <br>
            <button type="button" id="submitLogin" ><b>Login</b></button>
            <br>
            <br>
            <a href="/register" id="register"><b>Register</b></a>
        </form>
    </div>
</div>
