<div id="login">
		<div id="form">
			<form>
				<input type="number" id="id" name="userID" placeholder="User ID">
				<br>
				<input type="password" id="pword" name="password" placeholder="Password">
				<br>
				<button type="submit" id="login" onclick="" class="bg-primary"><b>Login</b></button>
			</form>
			<br>
			<p class="text-white">Don't have an account?</p>
			<a href="#" class="text-info">Register here</a>
		</div>
	</div>