{{>c_header}}
<div class="container">
            <div class="col-12">
                <div class="shadow">
                    <br>
                    <h1 class="list-group-item list-group-item-action bg-primary text-white">Menu</h1>
                    <br>
                    <table class="table table-fixed">
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Meal Set A</th>
                            <td>150.00</td>
                            <td>
                                <a href="#" class="btn btn-primary">Place Order</a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Meal Set B</th>
                            <td>150.00</td>
                            <td>
                                <a href="#" class="btn btn-primary">Place Order</a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Meal Set C</th>
                            <td>150.00</td>
                            <td>
                                <a href="#" class="btn btn-primary">Place Order</a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Meal Set D</th>
                            <td>150.00</td>
                            <td>
                                <a href="#" class="btn btn-primary">Place Order</a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Meal Set E</th>
                            <td>150.00</td>
                            <td>
                                <a href="#" class="btn btn-primary">Place Order</a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Meal Set F</th>
                            <td>150.00</td>
                            <td>
                                <a href="#" class="btn btn-primary">Place Order</a>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                <a href="checkout.html" class="btn btn-primary btn-lg btn-block mt-3">Checkout</a>
            
            
        </div>