<div class="container">
                <div class="col-12">
                    <div class="shadow">
                        <br>
                        <h1 class="list-group-item list-group-item-action bg-primary text-white">Orders</h1>
                        <br>
                        <table class="table table-bordered table-fixed">
                            <thead>
                              <tr>
                                <th scope="col">Status</th>
                                <th scope="col">OrderID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Price</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td></td>
                                <td style="width: 90px;">
                                    <button type="button" class="btn btn-outline-primary">Details</button>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td></td>
                                <td style="width: 90px;">
                                    <button type="button" class="btn btn-outline-primary">Details</button>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Yes</td>
                                <td>@twitter</td>
                                <td></td>
                                <td style="width: 90px;">
                                    <button type="button" class="btn btn-outline-primary">Details</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>


        </div>