<div class="register">
    <div class="register-form">
        <form>
            <label for="firstName" class="text-white">First Name</label>
            <input type="text" id="firstName" name="user_fName" placeholder="First Name">
            <br>
            <label for="lastName" class="text-white">LastName</label>
            <input type="text" id="lastName" name="user_lName" placeholder="Last Name">
            <br>
            <label for="pword" class="text-white">Password</label>
            <input type="password" id="pword" name="user_pWord" placeholder="Password">
            <br>
            <label for="cpword" class="text-white">Confirm Password</label>
            <input type="password" id="cpword" name="user_cpword" placeholder="Confirm Password">
            <button type="button" id="submitRegister" ><b>Register</b></button>
            <br>
        </form>
    </div>
</div>
