{{>c_header}}
<div class="container">

            <div class="row mb-2">

                <div class="col-4">

                    <div class="list-group mt-2 pb-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Cheeze IT
                        </p>
                        <div class="container text-center">
                            <img src="img/square.png" alt="" class="img-thumbnail">
                        </div>
                        <div class="container">
                            <p>Open: Mon-Sun 8:00 AM - 10:00 PM</p>
                            <p>Address: places</p>
                        </div>
                        <a href="/u/ChzIT" class="btn btn-primary m-1 ml-5 mr-5">Order</a>
                        <a href="/u/comm/ChzIT" class="btn btn-primary m-1 ml-5 mr-5">Rate and Comment</a>
                    </div>
                </div>
                
                <div class="col-4">

                    <div class="list-group mt-2 pb-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Taco Town
                        </p>
                        <div class="container text-center">
                            <img src="img/square.png" alt="" class="img-thumbnail">
                        </div>
                        <div class="container">
                            <p>Open: Mon-Sun 8:00 AM - 10:00 PM</p>
                            <p>Address: places</p>
                        </div>
                        <a href="/u/TacTown" class="btn btn-primary m-1 ml-5 mr-5">Order</a>
                        <a href="/u/comm/TacTown" class="btn btn-primary m-1 ml-5 mr-5">Rate and Comment</a>
                    </div>
                </div>

                <div class="col-4">

                    <div class="list-group mt-2 pb-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Spice City
                        </p>
                        <div class="container text-center">
                            <img src="img/square.png" alt="" class="img-thumbnail">
                        </div>
                        <div class="container">
                            <p>Open: Mon-Sun 8:00 AM - 10:00 PM</p>
                            <p>Address: places</p>
                        </div>
                        <a href="/u/SpCity" class="btn btn-primary m-1 ml-5 mr-5">Order</a>
                        <a href="/u/comm/SpCity" class="btn btn-primary m-1 ml-5 mr-5">Rate and Comment</a>
                    </div>
                </div>

            </div>
            <div class="row mb-2">
                
                <div class="col-4">

                    <div class="list-group mt-2 pb-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Potato Academy
                        </p>
                        <div class="container text-center">
                            <img src="img/square.png" alt="" class="img-thumbnail">
                        </div>
                        <div class="container">
                            <p>Open: Mon-Sun 8:00 AM - 10:00 PM</p>
                            <p>Address: places</p>
                        </div>
                        <a href="/u/PotAc" class="btn btn-primary m-1 ml-5 mr-5">Order</a>
                        <a href="/u/comm/PotAc" class="btn btn-primary m-1 ml-5 mr-5">Rate and Comment</a>
                    </div>
                </div>

                <div class="col-4">

                    <div class="list-group mt-2 pb-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Ben's Grill
                        </p>
                        <div class="container text-center">
                            <img src="img/square.png" alt="" class="img-thumbnail">
                        </div>
                        <div class="container">
                            <p>Open: Mon-Sun 8:00 AM - 10:00 PM</p>
                            <p>Address: places</p>
                        </div>
                        <a href="/u/BenG" class="btn btn-primary m-1 ml-5 mr-5">Order</a>
                        <a href="/u/comm/BenG" class="btn btn-primary m-1 ml-5 mr-5">Rate and Comment</a>
                    </div>
                </div>

                <div class="col-4">

                    <div class="list-group mt-2 pb-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Almusal Central
                        </p>
                        <div class="container text-center">
                            <img src="img/square.png" alt="" class="img-thumbnail">
                        </div>
                        <div class="container">
                            <p>Open: Mon-Sun 8:00 AM - 10:00 PM</p>
                            <p>Address: places</p>
                        </div>
                        <a href="/u/AlCent" class="btn btn-primary m-1 ml-5 mr-5">Order</a>
                        <a href="/u/comm/AlCent" class="btn btn-primary m-1 ml-5 mr-5">Rate and Comment</a>
                    </div>
                </div>

            </div>
        </div>